body, html {
    margin: 0;
}

h1, h2, h3, p{
  color: #222;
}

p{
  font-size: 1vw;
}

h1{
  font-size: 50px;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

.main{
    padding-top: 10vh;
    margin-left: 10vw;
    margin-right: 10vw;
}